[submodule "dependencies/solarized-dircolors"]
	path = dependencies/solarized-dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "dependencies/solarized-vim"]
	path = dependencies/solarized-vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dependencies/solarized-gedit"]
	path = dependencies/solarized-gedit
	url = https://github.com/mattcan/solarized-gedit.git
[submodule "dependencies/solarized-tmux"]
	path = dependencies/solarized-tmux
	url = https://github.com/seebi/tmux-colors-solarized.git
